.footer{
    background: url("/images/footer.png") center no-repeat;
    background-size: cover;
    color: $white;
    padding-top: 70px;
    padding-bottom: 45px;
    &__title{
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 42px;
        position: relative;
        &::after{
            content: '';
            display: inline-block;
            width: 30px;
            position: absolute;
            left: 0;
            bottom: -9px;
            height: 2px;
        }
        &.red:after{background: #F4438A;}
        &.gold:after{background: #FFDA2D;}
        &.blue:after{background: #43F4EE;}
    }
    & ul{
        font-size: 15px;
        & li{
            padding-bottom: 15px;
        }
    }
    & .phone{
        font-weight: 500;
        font-size: 26px;
        line-height: 36px;
    }
    & .email{
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 15px;
        color: #43F4EE;
    }
    & .middle{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    & .login{
        background: #43F4EE;
        border-radius: 100px;
        width: 240px;
        height: 50px;
        font-weight: 600;
        color: $primary;
        text-align: center;
        margin-right: 30px;
        & svg{
            margin-right: 10px;
        }
    }
    & .register{
        font-weight: 600;
        font-size: 15px;
    }
    & .copyright{
        opacity: 0.75;
        font-size: 12px;
        padding-right: 30px;
    }
    & .terms{
        font-weight: 600;
        font-size: 12px;
    }
    & .accept{
        opacity: 0.75;
        font-size: 12px;
        padding-right: 20px;
    }
    & .cards{
        svg:first-child{
            margin-right: 20px;
        }
    }
}
