.header{
    background: url("/images/main-bg.png") center no-repeat;
    background-size: cover;
    & i{
        color: rgba(255, 255, 255, 0.75);
    }
    .transparent-bg{
        background: transparent;
    }
}
.nav{
    padding: 25px 0;
    background: $white;
    &__account{
        padding-left: 40px;
        & .icon{
            background: #43F4EE;
            color: #00514E;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
        & .activate{
            background: $secondary;
            color: #ffffff;
        }
        & .name{
            color: $primary;
            font-size: 15px;
        }
    }
    &-primary{
        border-top: #F0F5FF 5px solid;
        background: #ffffff;
        color: $primary;
        & .active{
            border-bottom: 2px $secondary solid;
        }
    }
    &-light{
        border-top: #F0F5FF 5px solid;
        background: #ffffff;
        color: #9AA0AC;
        &__links{
            padding: 18px 0;
            & span {
                padding-left: 10px;
            }
        }
        .link-active{
            color: $primary;
        }
    }
    &-main{
        padding: 25px 0;
    }
    & .active{
        color: $secondary;
    }
    &__logo{
        & img{
            width: 185px;
        }
    }
    &__links{
        &-item{
            padding-left: 50px;
            color: $primary;
            font-weight: 500;
            font-size: 18px;
            transition: .2s all ease-out;
            & i{
                padding-right: 10px;
            }
            &:hover{
                color: $secondary;
            }
        }
    }
    &__lang{
        z-index: 12;
        .languages {
            display: flex;
            position: relative;
            & .item {
                width: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                border-radius: 50%;
                background: $white;
                border: 2px solid #FFDA2D;
                font-weight: 800;
                font-size: 12px;
                color: #00236D;
                transition: 0.3s all ease-out;
                &:nth-child(2){
                    opacity: 0;
                    display: none;
                    position: absolute;
                    bottom: -42px;
                    left: 0;
                    right: 0;
                    border-color: $secondary;
                    &:hover{
                        background: $secondary;
                        color: $white;
                    }
                }
            }
            &:hover .item{
                display: flex;
                opacity: 1;
            }
        &-main{
            & .item-transp {
                width: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                border-radius: 50%;
                border: 2px solid #FFDA2D;
                font-weight: 800;
                font-size: 12px;
                color: $white;
                transition: 0.3s all ease-out;
                &:nth-child(2){
                    opacity: 0;
                    display: none;
                    position: absolute;
                    bottom: -42px;
                    left: 0;
                    right: 0;
                    border-color: $secondary;
                    &:hover{
                        background: $secondary;
                        color: $white;
                    }
                }
            }
            &:hover .item-transp{
                display: flex;
                opacity: 1;
            }
        }
        }
    }
    &__add{
        margin-left: 40px;
        & a{
            font-size: 15px;
            border: #43F4EE solid 2px;
            width: 152px;
            height: 42px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: $primary;
            border-radius: 100px;
            transition: .2s all ease-out;
            &:hover{
                color: $primary;
                background: #43F4EE;
            }
        }
    }
    &__login{
        margin-left: 20px;
        & a{
            font-size: 15px;
            background: $primary;
            width: 130px;
            height: 42px;
            display: inline-flex;
            align-items: center;
            justify-content: center;;
            font-weight: 600;
            border-radius: 100px;
            color: #43F4EE;
            transition: .2s all ease-out;
            &:hover{
                color: $white;
            }
        }
    }
}
.search{
    //box-shadow: 0 0 0 1 5px rgba(0, 0, 0, 0.05);
    //overflow: hidden;
    background: $white;
    border: 5px #F0F5FF solid;
    z-index: 10;
    position: relative;
    &__icon{
        color: #00236D;
    }
    & .fixed-padding{padding: 18px 0;}
    & label i{color: $primary;}
    & input{
        font-size: 15px;
        margin-left: 10px;
        font-family: 'Manrope3', sans-serif;
        font-weight: 500;
        border: 0;
    }
    .adults{
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        padding-right: 10px;
        border: 0;
    }
    & .arrow{
        transition: .2s all ease-out;
    }
    &__box{
        background: white;
    }
    &__left{
        z-index: 10;
        &::before{
            content: '';
            display: inline-block;
            width: 900px;
            position: absolute;
            right: 0;
            z-index: -1;
            top: 0;
            bottom: 0;
            height: 100%;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
        }
    }
    & .high-index{
        z-index: 5;
    }
    &__center{
        margin-left: 5px;
        &::before{
            content: '';
            display: inline-block;
            width: 400px;
            position: absolute;
            right: 0;
            z-index: -1;
            top: 0;
            bottom: 0;
            height: 100%;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
        }
    }
    &__right{
        margin-left: 5px;
    }
    &__button{
        width: 42px;
        height: 42px;
        font-size: 18px;
        display: inline-block;
        background: $secondary;
        color: $white;
        border-radius: 50%;
    }
}
.daterange{
    cursor: pointer;
    user-select: none;
}
.daterangepicker{
    width: 100%;
    max-width: 1140px;
    margin-top: 0;
    border: none;
    left: 50% !important;
    transform: translateX(-50%);
    border-top: 1px solid #EAEEF4;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    box-shadow: 0 0 100px rgba(0, 35, 109, 0.05);
}
.daterangepicker:after , .daterangepicker:before{
    display: none;
}
.daterangepicker .drp-calendar{
    max-width: unset;
    width: calc(100% / 2 - 16px);
}
.daterangepicker .drp-calendar.right{
    margin-left: 30px;
}
.daterangepicker.opensleft:after,
.daterangepicker.opensleft:before{
    display: none;
}
.daterangepicker .calendar-table th{
    font-family: "Manrope3",sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #444444;
    font-weight: normal;
    border-radius: 0;
    border: none;
}
.daterangepicker .calendar-table td{
    font-family: "Manrope3",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #00236D;
    width: 78px;
    height: 78px;
    border-radius: 0;
    border: none;
}
.daterangepicker td.disabled, .daterangepicker option.disabled{
    color: #999;
    text-decoration: none;
}
.daterangepicker .calendar-table td.off.ends{
    /* opacity: 0;
    pointer-events: none; */
    visibility: hidden !important;
}

.daterangepicker .calendar-table thead tr:nth-child(1) th{
    font-family: 'Manrope3',sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #00236D;
    height: 100px;
}
.daterangepicker .calendar-table thead tr:nth-child(2) th{
    cursor: default;
}
.daterangepicker .drp-calendar.left  tr:nth-child(1) th{
    text-align: left;
}
.daterangepicker .drp-calendar.right  tr:nth-child(1) th{
    text-align: right;
}
/* .daterangepicker .drp-calendar  tr:nth-child(1):hover th{
    color: #F4438A;
} */


.daterangepicker .drp-calendar.left .prev.available{
    text-align: center;
}
.daterangepicker .drp-calendar.right .next.available{
    text-align: center;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span{
    border: none;
    background-image: url("/backend/images/arrleftblue.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 26px;
    width: 16px;
    transform: none;
    margin-left: auto;
    margin-right: auto;
}
/* .daterangepicker .calendar-table .prev span:hover{
    background-image: url/backend/images/arrleftpink.png");
}

.daterangepicker .calendar-table .next span:hover{
    background-image: url/backend/images/arrightpink.png");
} */

.daterangepicker .drp-calendar.right  tr:nth-child(1):hover .next span{
    background-image: url("/backend/images/arrightpink.png");
}

.daterangepicker .drp-calendar.left  tr:nth-child(1):hover .prev span{
    background-image: url("/backend/images/arrleftpink.png");
}
.daterangepicker .calendar-table .next span{
    background-image: url("/backend/images/arrightblue.png");
}
.daterangepicker .drp-calendar  tr:nth-child(1) th:hover{
    background: transparent;
}
.daterangepicker .drp-buttons .cancelBtn,
.daterangepicker .drp-selected{
    display: none;
}
.add-list-btn{
    display: inline-block;
    width: 100%;
    max-width: 320px;
    font-family: 'Manrope3',sans-serif;
    background-color: $primary;
    height: 46px;
    color: #43F2ED;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.add-list-btn:hover{
    opacity: .8;
    color: #fff;
}
.add-list-btn svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.daterangepicker.show-calendar .drp-buttons.disabled{
    opacity: 0;
}
.daterangepicker td.today.in-range,
.daterangepicker td.in-range{
    background: #F4438A;
    color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range.available:hover,
.daterangepicker td.active.end-date.in-range.available,
.daterangepicker td.active.start-date.available{
   background: #00236D;
   color: #fff;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover,
.daterangepicker td.today,
.daterangepicker td:hover{
    background: #F5F7FB;
    color:#00236D;
}

.amount{
    display: none;
    transition: .2s all ease-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: -220px;
    left: 0;
    right: 0;
    background: $white;
    box-shadow: 30px 30px 100px rgba(0, 35, 109, 0.05);
    height: 210px;
    padding: 35px 30px;
    &__box:not(:last-child){
        padding-bottom: 25px;
    }
    &__box{
        &-button{
            border-radius: 50%;
            height: 30px;
            width: 30px;
            cursor: pointer;
            transition: .2s all ease-out;
            & svg , img{
                pointer-events: none;
            }
        }
        &:hover &-button{
            background: #F0F5FF;
        }
    }
    & .left{
        pointer-events: none;
        & .title{
            pointer-events: none;
            font-weight: 500;
            font-size: 15px;
            color: #444444;
            padding-left: 10px;
        }
    }
    & .right{
        & .counter{
            pointer-events: none;
            color: $primary;
            font-size: 16px;
            padding: 0 25px;
        }
    }
}
.result{
    width: 100%;
    position: absolute;
    top: 70px;
    border-radius: 5px;
    background: $white;
    box-shadow: 30px 30px 100px rgba(0, 35, 109, 0.05);
    left: 0;
    right: 0;
    max-height: 410px;
    overflow: hidden auto;
    display: none;
    opacity: 0;
    &__box{
        padding: 20px;
        border-bottom: 1px #F0F5FF solid;
        transition: .2s all ease-out;
        &:hover{
            box-shadow: 0 4px 100px rgba(0, 35, 109, 0.07);
            & .left{
                color: $secondary;
            }
        }
        & .right{
            pointer-events: none;
        }
        & .left{
            color: $primary;
            pointer-events: none;
            font-weight: 600;
            font-size: 15px;
        & .image{
                padding-right: 15px;
                img{ width: 40px; height: 40px; object-fit: cover; border-radius: 50%;}
            }
        }
    }
}
.active{
    color: $secondary;
    & input{
        color: $secondary;
    }
    & .fill-changer{
        fill: $secondary;
    }
    .search__icon{
        color: $secondary;
    }
    & .arrow{
        transform: rotate(180deg);
        & svg path{
            fill: $secondary;
        }
    }
}
.white-color{
    color: $white;
}
