.bookings{
    background: #F0F5FF;
    padding: 30px 0 30px;
    &__item{
        min-height: 200px;
        background: #ffffff;
        margin-bottom: 30px;
        & .left{
            img{
                max-width: 300px;
                height: 100%;
                max-height: 200px;
                display: block;
                object-fit: cover;
            }
        }
        & .right{
            flex: 1;
            min-height: 200px;
            padding: 30px;
            color: #202020;
            & .city{
                font-weight: 500;
                font-size: 15px;
            }
            & .persons{
                font-weight: 500;
                font-size: 15px;
            }
            & .title{
                color: $primary;
                font-weight: 600;
                font-size: 20px;
            }
            & .rooms{
                font-weight: 600;
                font-size: 20px;
            }
            & .links{
                color: $primary;
                font-weight: 500;
                font-size: 16px;
                & a:not(:last-child){
                    margin-right: 30px;
                }
            }
            .total{
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}
