.dates__item{
    .confirm{
        padding: 30px;
        background: #ffffff;
        & .top{
            font-weight: 500;
            font-size: 16px;
            color: $primary;
        }
        & .bottom{
            font-size: 15px;
            line-height: 21px;
            color: #202020;
            padding-top: 20px;
        }
    }
    .no-shadow{
        border-top: 1px #EAEEF4 solid;
    }
}
.dates__confirm{
    background: $primary;
    color: #43F2ED;
    border-radius: 100px;
    min-width: 180px;
    height: 46px;
    line-height: 46px;
    margin-right: 15px;
}
.dates__cancel{
    color: $primary;
    background: transparent;
    margin-left: 15px;
}
.buttons{
    margin-top: 40px;
}
.no-shadow{
    box-shadow: none;
}
