.message{
    background: #F0F5FF;
    padding-top: 30px;
    &__info{
        width: 100%;
        padding: 20px;
        font-weight: 500;
        font-size: 15px;
    }
    .success{
        color: $primary;
        background: #A1FFFC;
    }
    .error{
        color: #ffffff;
        background: $secondary;
    }
}
