.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden auto;
    display: none;
    z-index: 50;
    transition: .2s all ease-out;
    opacity: 0;
    &-date{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        z-index: -1;
        background: #F0F5FF;
        transition: .2s all ease-out;
        opacity: 0;
        //&.show &-bg{
        //    position: fixed;
        //    background: #F0F5FF;
        //    top: 0;
        //    left: 0;
        //    right: 0;
        //    bottom: 0;
        //    z-index: -1;
        //}
    }
    &.show &-bg{
        background: rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    & .close{
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
}
.show{
    display: block;
    opacity: 1;
}
.no-scroll{
    overflow: hidden;
}
